POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=guest
POSTGRES_PASSWORD=guest
POSTGRES_DB=certificates

ROOT_PATH=/

ALLOWED_ISSUERS=["https://lately-currency-yrs-customized.trycloudflare.com/application/o/spravki-app/"]
AUTHENTIK_URL=https://lately-currency-yrs-customized.trycloudflare.com

CLIENT_ID=spravki_app_client_id
CLIENT_SECRET=spravki_app_client_secret
LOGIN_REDIRECT_URI=http://localhost:4000/auth/callback
APPLICATION_SLUG=spravki-app
USER_SERVICE_URL=https://pharmaceutical-trademark-governor-investigator.trycloudflare.com
ROUTER_PATH=/api/auth

DOMAIN=example.test
API_DOMAIN=api.spravki.example.test
SEND_ACCESS_TOKEN_AS_COOKIE=True
SEND_ACCESS_TOKEN_IN_JSON_RESPONSE=False
