POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=guest
POSTGRES_PASSWORD=guest
POSTGRES_DB=certificates

ROOT_PATH=/

AUTHENTIK_URL=http://authentik:9000
ALLOWED_ISSUERS=["<issuer>"]
CLIENT_ID=
CLIENT_SECRET=
APPLICATION_SLUG=
LOGIN_REDIRECT_URI=
ROUTER_PATH=


DOMAIN=example.test
API_DOMAIN=api.spravki.example.test
